html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Playfair Display', arial;
    overflow-x: hidden;
}

#menuToggle {
    display: none;
}

.element::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}


/*Removes cursor that comes with typed.js*/

.element-cursor {
    opacity: 0;
    display: none;
}


/*Custom cursor animation*/

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.portfolio-container {
    img {
        width: 350px;
    }
}

.muchMore {
    text-align: center;
    font-size: 1.8em;
    text-decoration: none;
    a {
        color: #720126;
    }
}

.muchMore {
    text-align: center;
    font-size: 1.8em;
    text-decoration: none;
    color: black;
}

.right_img {
    display: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.project-images {
    height: 300px;
}

.nav-container {
    position: --webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    background: #720126;
    a {
        color: #FCFF9C;
    }
    ul {
        display: flex;
        a {
            display: block;
            padding: 1em 0 1em 1em;
        }
    }
}

.footer-ele1 {
    display: none;
}

.red {
    background: #720126;
    width: 100%;
}

.redtxt {
    font-size: 2.9em;
}

#Rectangle_21::before {
    content: "";
    display: block;
    padding-top: 25%;
}

#recB {
    background: #6300a0;
    width: 100%;
}

#recB::before {
    display: block;
    padding-top: 25%;
}

.instagram:hover {
    cursor: pointer;
}

.linkedln-logo:hover {
    cursor: pointer;
}

.github-sign:hover {
    cursor: pointer;
}

.Send_me_a_E-mail:hover {
    cursor: pointer;
}

.want {
    color: #720126;
}

.featured {
    padding: 5em;
}

.footer-container {
    width: 100%;
    background: #720126;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    .logo {
        color: white;
        font-weight: bold;
    }
    ul {
        display: flex;
        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.social-header,
.hero-design {
    display: none;
    position: relative;
}

.right {
    display: none;
}

.hero {
    background: #80002A;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

.meet {
    display: flex;
    position: initial;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #186D70;
    span {
        margin-top: 1em;
        margin-right: .5em;
    }
}

.scroll {
    width: 30px;
    margin-top: 2em;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
}

.featured::before {
    content: "";
    position: absolute;
    padding: 9em 0;
    width: 500px;
    height: 200px;
    border-radius: 50%;
    background: #D86087;
    opacity: 17%;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #80002A;
    letter-spacing: .2em;
    font-size: 1em;
}

// Come back here later 
.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: .4em;
    display: block;
}

.featured-desc {
    color: black;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills {
    background: #D86087;
}

.skills-container ul li {
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;
        &.one {
            width: 100px;
        }
        &.two {
            width: 100px;
        }
        &.three {
            width: 100px;
        }
    }
    .skills-title {
        font-weight: bold;
    }
    .featured-desc {
        margin-bottom: 2em;
    }
}

.portfolio {
    background: white;
}

.portfolio container a img {
    border-radius: 1em;
    margin-bottom: 2em;
}

.india {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #39ff14;
    text-decoration-thickness: 5px;
}

@media only screen and (min-width:590px) {
    .ye {
        .right_img {
            display: unset;
            border-radius: .7em;
        }
    }
    .photo-box {
        .right_img {
            display: none;
            border-radius: .7em;
        }
    }
    .logo {
        text {
            width: 100%;
        }
    }
}

@media only screen and (max-width:520px) {
    .logo {
        text {
            width: 100%;
        }
    }
    .portfolio-container {
        img {
            width: 15em;
        }
    }
    .aboutwork {
        display: none;
    }
    #menuToggle {
        display: unset;
        ul {
            li {
                color: #720126
            }
        }
    }
    a {
        text-decoration: none;
        color: #720126;
        transition: color 0.3s ease;
    }
    a:hover {
        color: #720126;
    }
    #menuToggle {
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }
    /*
      * Just a quick hamburger
      */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #FCFF9C;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    /* 
      * Transform all the slices of hamburger
      * into a crossmark.
      */
    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #720126;
    }
    /*
      * But let's hide the middle one.
      */
    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked~span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
    }
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 10px 0 0;
        padding: 50px;
        padding-top: 125px;
        right: -100px;
        background: #FCFF9C;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }
    /*
      * And let's fade it in from the left
      */
    #menuToggle input:checked~ul {
        transform: none;
        opacity: 1;
    }
    @media screen and (max-width: 500px) {
        #menu {
            transform: none;
            opacity: 0;
            transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        }
    }
}

@media only screen and (min-width:800px) {
    .scrolling-active-header {
        background: #720126;
        transition: ease .3s;
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
        li {
            padding-right: 4em;
            a {
                margin-left: -20%;
                display: grid;
                grid-template-columns: left;
            }
        }
    }
    .scrolling-active-social {
        background: #720126;
        padding-left: 1em;
        z-index: -1;
        transition: ease .3s;
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
        img {
            display: none;
        }
    }
    .nav-container {
        .aboutwork {
            li {
                margin-left: 0%;
                font-size: 1em;
            }
        }
    }
    .ye {
        .right_img {
            display: none;
        }
    }
    .photo-box ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        height: 40vh;
        width: 100vh;
        grid-gap: .2em;
        .right_img {
            display: unset;
            border-radius: .7em;
            padding: 5em 5em 0 0;
        }
        // padding-top: 2em;
        // padding-left: -2em;
        // padding-bottom: 2em;
        // border-radius: .7em;
        // width: 100%;
    }
    .aboutMe,
    .yoyo,
    .yoyo1 {
        text-align: left;
    }
    .featured .portfolio {
        text-align: left;
        img {
            place-content: right;
        }
    }
    .portfolio-container {
        img {
            width: 310px;
        }
    }
    .featured,
    .portfolio-container {
        display: grid;
        grid-template-columns: 50% auto;
    }
    .left,
    .portfolio-left {
        display: grid;
        place-content: left;
        place-content: center;
        margin: 0 17% 0 0;
    }
    .right {
        margin-left: 5em;
        margin-top: 1em;
    }
    .inner-left {
        p {
            text-align: left;
        }
    }
    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }
    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }
    .portfolio {
        padding-top: 7em;
        .portfolio-container {
            padding: 1em 0;
        }
    }
    .portfolio-container img {
        margin-left: 2em;
        width: 18em;
    }
    .footer-ele2 {
        display: none;
    }
    .footer-ele1 {
        display: unset;
        width: 100%;
        padding-top: 0;
        padding-bottom: -200px;
        position: relative;
    }
    @keyframes footer-ele1 {
        from {
            transform: translate(0px, 102px);
        }
        to {
            transform: translate(0px, 130px);
        }
    }
}

@media only screen and (min-width: 1050px) {
    .hero {
        height: 40em;
    }
    .featured {
        img {
            padding-right: 0;
        }
    }
    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        header {
            background: #720126;
        }
        // .aboutwork {
        //     width: 16em;
        //     justify-content: space-between;
        //     cursor: pointer;
        //     z-index: 1;
        //     margin-left: 30%;
        // }
    }
    header {
        padding: 2em 2em 2em 4em;
    }
    .social-header {
        padding: 2em 4em 2em 0;
    }
    section {
        padding: 4em;
    }
    .social-header {
        display: block;
        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;
            img {
                width: 20px;
                padding-right: 1em;
            }
        }
    }
    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;
        .content {
            background: #80002A;
            padding: 5em 8em 6em 4em;
            //height: 50vh;
            text-align: left;
            h1 {
                font-size: 3.5em;
                line-height: 1.2em;
            }
        }
    }
    .meet {
        margin: unset;
        //padding: 1.2em 0 0 0;
    }
    .hero-design {
        display: unset;
        margin-left: -43%;
        margin-top: 15%;
        width: 100%;
        //padding: .3em 0 0 0;
    }
    .portfolio img {
        float: right;
        max-width: 500px;
    }
    .footer-ele2 {
        display: none;
    }
    .footer-ele1 {
        display: unset;
        width: 100%;
        margin-right: -10%;
    }
    .portfolio-container {
        .featured-desc {
            font-size: 1em;
        }
    }
}

@media only screen and (min-width: 1250px) {
    .aboutwork {
        margin-left: 35%;
        width: 50%;
        justify-content: space-between;
        padding-left: 1em;
    }
    .hero-design {
        margin-top: -22%;
    }
    header {
        padding: 2em 2em 2em 5em;
    }
    .content {
        .h1 {
            margin: -10% 55% 0 0;
        }
    }
    .social-header {
        padding: 2em 10em 2em 0;
    }
    section {
        padding: 10em 10em 4em 10em;
    }
    .hero .content {
        padding: 2em 10em 10em 5em;
    }
    .hero {
        h1 {
            font-size: 2em;
            line-height: 1.2em;
            margin: 10% 50% 0 0;
        }
    }
    .skills-container ul {
        display: grid;
        grid-gap: 2em;
    }
}

.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from {
        transform: translate(0px, 0px);
        z-index: 5;
    }
    to {
        transform: translate(0px, 41px);
    }
}

.emo {
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translate(0px, 0px);
        z-index: 5;
    }
    to {
        transform: translate(0px, 5px);
    }
}

.Path_1 {
    animation: Path_1Anim 1s infinite alternate-reverse;
}

@keyframes Path_1Anim {
    from {
        transform: translate(-1403px, -373.266px);
    }
    to {
        transform: translate(-1403px, -388.266px);
    }
}

.Path_3 {
    animation: Path_3anim 1s infinite alternate-reverse;
    z-index: 1;
}

@keyframes Path_3anim {
    from {
        transform: translate(1817.926px, 1061.672px);
    }
    to {
        transform: translate(1817.926px, 1071.672px);
    }
}

.Path_2 {
    animation: Path_2anim 1s infinite alternate-reverse;
}

@keyframes Path_2anim {
    from {
        transform: matrix(-0.017, -1, 1, -0.017, 372.809, 752.454);
    }
    to {
        transform: matrix(-0.017, -1, 1, -0.017, 372.809, 762.454);
    }
}

.subtitle {
    animation: sup 3s infinite slidein;
}

@keyframes sup {
    from {
        margin-left: 10%;
        width: 300%;
    }
    to {
        margin-left: 10%;
        width: 100%;
    }
}

.overall-container {
    max-width: 1350px;
    margin: 0 auto;
}