header {
    background-image: linear-gradient(to right top, #402c5a, #522454, #611848, #6c0a39, #720126);
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
}

.nav-container {
    padding: -2em;
}

svg {
    padding-top: 1.5em;
    padding-left: .5em;
}

li {
    padding: 2em;
    text-decoration: none;
}

header .logo {
    color: white;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
}

ul a {
    color: rgb(255, 255, 173);
    display: block;
    padding: 0 1em;
}

.social-header li img {
    width: 20px;
}